/*------------------------ @/assets/css/links.css ----------------------------*/
/******************************************************************************/
/* Links
/******************************************************************************/
/* Text */
a { @apply text-[--primary-light] dark:text-[--primary-dark]; }
a:hover, a:active, a:focus { @apply !text-current font-bold; } 

/* Headers */
h2:link:active, h3:link:active, h4:link:active, h5:link:active { @apply text-[--primary-light] dark:text-[--primary-dark]; }
a:hover, a:active, a:focus { @apply !text-current font-bold; } 

/* Images */
/* .mode-icon svg { @apply stroke-[--primary-light] dark:stroke-[--primary-dark] fill-none m-0 p-0; }
.social-icon svg { @apply fill-[--primary-light] dark:fill-[--primary-dark] stroke-none m-0 p-0; }
.mode-icon svg:hover { @apply stroke-current fill-none m-0 p-0; }
.social-icon svg:hover { @apply fill-current stroke-none m-0 p-0; } */
/*------------------------ @/assets/css/links.css ----------------------------*/