/*--------@/app/assets/css/palette.css----------------------------------------->
/******************************************************************************/
/*
/* Palette
/*
/* - Variables
/* - Containers
/* - Typography
/* 
/******************************************************************************/
/******************************************************************************/
/* Variables
/******************************************************************************/
@theme static {

    /* Palette */
    --color-apple-50: #F6FAF2;
    --color-apple-100: #EEF7E6;
    --color-apple-200: #D3EBC3;
    --color-apple-300: #B5DEA2;
    --color-apple-400: #79C767;
    --color-apple-500: #3BAE37;
    --color-apple-600: #319C2D;
    --color-apple-700: #23821F;
    --color-apple-800: #176914;
    --color-apple-900: #0C4F0B;
    --color-apple-950: #053305;

    --ui-primary: var(--ui-color-primary-800);
    --ui-secondary: var(--ui-color-secondary-600);
    --ui-tertiary: var(--ui-color-tertiary-500);
    --ui-success: var(--ui-color-success-500);
    --ui-info: var(--ui-color-info-500);
    --ui-warning: var(--ui-color-warning-500);
    --ui-error: var(--ui-color-error-500);

    /* Containers */
    --ui-bg: var(--color-white);

    /* Typography */

    /* Least prominent text */
    --ui-text-dimmed: var(--ui-color-neutral-400);
    /* Slightly muted text */
    --ui-text-muted: var(--ui-color-neutral-500);
    /* Moderately prominent text */
    --ui-text-toned: var(--ui-color-neutral-600);
    /* Default text color */
    --ui-text: var(--ui-color-neutral-900);
    /* Most prominent text */
    --ui-text-highlighted: var(--ui-color-neutral-950);

}
  
.dark {

    /* Palette */
    --ui-primary: var(--ui-color-primary-600);
    --ui-secondary: var(--ui-color-secondary-600);
    --ui-tertiary: var(--ui-color-tertiary-400);
    --ui-success: var(--ui-color-success-400);
    --ui-info: var(--ui-color-info-400);
    --ui-warning: var(--ui-color-warning-400);
    --ui-error: var(--ui-color-error-400);

    /* Containers */
    --ui-bg: var(--color-black);

    /* Typography */

        /* Least prominent text */
        --ui-text-dimmed: var(--ui-color-neutral-500);
        /* Slightly muted text */
        --ui-text-muted: var(--ui-color-neutral-400);
        /* Moderately prominent text */
        --ui-text-toned: var(--ui-color-neutral-300);
        /* Default text color */
        --ui-text: var(--ui-color-neutral-200);
        /* Most prominent text */
        --ui-text-highlighted: var(--color-white);

}

/******************************************************************************/
/* Containers
/******************************************************************************/
body {
    @apply antialiased text-(--ui-text) bg-(--ui-bg);
}
/*--------@/app/assets/css/palette.css----------------------------------------->