/*--------@/assets/css/UI.css-------------------------------------------------*/
/******************************************************************************/
/*
/* UI CSS
/* 
/******************************************************************************/
:root {
    --ui-radius: 1rem;
    --ui-radius-round: 1.5rem;
}
/******************************************************************************/
/* Buttons
/******************************************************************************/
/*

 bg-(--ui-secondary) 

*/
.stga-button {  @apply w-fit p-2 px-5 justify-center whitespace-normal
    text-lg font-bold
    bg-(--ui-secondary) dark:bg-(--ui-secondary-2)
    shadow-md dark:shadow-xs shadow-black dark:shadow-white/70
    active:text-(--ui-primary); 
}
.stga-button-icon { @apply p-2 
    rounded-3xl dark:bg-(--ui-secondary)
    stroke-(--ui-bg) dark:stroke-(--ui-text) 
    fill-(--ui-bg) dark:fill-(--ui-text)
    shadow-sm; 
}

.stga-button-tag { @apply p-3 justify-center whitespace-normal
    rounded-4xl bg-(--ui-primary) shadow-transparent; }

.stga-button-social-icon { @apply p-2 size-10; }

.stga-button-round  { --ui-radius-round: 1.5rem; }
/*--------@/assets/css/UI.css-------------------------------------------------*/